@model List<TravelTripProje.Models.Entity.AdresBlog>
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Iletisim | Travel Trip Proje</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Template/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Template/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>


    <div class="contact">
        <div class="wrap">
            @foreach (var item in Model)
            {
                <div class="contact-top">
                    <h3>@item.Baslik</h3>
                    <p> @item.Aciklama</p>
                </div>
            }

            @using (Html.BeginForm("GelenMaillerEkle", "Home", FormMethod.Post))
            {
                <div class="form">
                    <div>
                        <input type="text" class="textbox" placeholder="Ad Soyad" name="AdSoyad" required>
                    </div>
                    <div>
                        <input type="text" class="textbox" placeholder="Mail Adresiniz..." name="Mail" required>
                    </div>
                    <div>
                        <input type="text" class="textbox" placeholder="Konu" name="Konu" required>
                    </div>
                    <div>
                        <button class="read" type="submit" onclick="return alert('Mesajınız Gönderildi. En Kısa Sürede Dönüş Sağlanacak...')">Gönder</button>
                        <br />
                    </div>
                </div>
                <div class="form1">
                    <div>
                        <textarea placeholder="Mesajınız..." name="Mesaj" required></textarea>
                    </div>
                </div>
            }
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres</h3>
                        @foreach (var item in Model)
                        {
                            <p>@item.AdresAcik</p>
                            <p>Telefon: @item.Telefon</p>
                            <p>Email:<a href="mailto:@item.Mail">@item.Mail</a></p>
                        }

                    </div>

                </div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>
