@model TravelTripProje.Models.Entity.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Duzenleme Sayfasi</h2>
<br />
@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <b>@Html.LabelFor(x => x.ID)</b>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <b>@Html.LabelFor(x => x.Baslik)</b>
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    <b>@Html.LabelFor(x => x.Tarih)</b>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <b>@Html.LabelFor(x => x.Aciklama)</b>
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    <b>@Html.Label("Resim Yükle")</b>
    <br />
    <input type="file" name="BlogImage" required/>
    <br />
    <br />

    <span>
        <button class="btn btn-primary">Yaziyi Guncelle</button>
        <a href="/Admin/Index/" class="btn btn-danger">Iptal Et</a>
    </span>


}