
@model TravelTripProje.Models.Entity.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Template/MCDatepicker-master/dist/mc-calendar.min.css" />
<script src="~/Template/MCDatepicker-master/dist/mc-calendar.min.js"></script>

@using (Html.BeginForm("YeniBlog", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <h2>Yeni Blog Ekleme</h2>
    <br />
    <form class="form-group" method="post">
        <b>@Html.LabelFor(x => x.Baslik)</b>
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", @required = "required" })
        <br />
        <b>@Html.LabelFor(x => x.Tarih)</b>
        <input id="tarih" type="text" placeholder="Tarih Seçiniz" name="Tarih" class="form-control" required />
        <br />
        <b>@Html.LabelFor(x => x.Aciklama)</b>
        @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", @required = "required" })
        <br />
        <b>@Html.Label("Resim Yükle")</b>
        <br />
        <input type="file" name="BlogImage" required />
        <br />
        <br />
        
        
        <span>
            <button class="btn btn-primary">Yeni Yazi Ekle</button>
            <a href="/Admin/Index/" class="btn btn-danger">Iptal Et</a>
        </span>
    </form>
}
    <script>
        const myDatePicker = MCDatepicker.create({
            el: '#tarih', // input id ile eşleşmeli
            showCalendarDisplay: false, // Takvim görünümü istiyorsanız `true` yapınız
            dateFormat: 'DD-MM-YYYY', // Tarih formatı
            customClearBTN: 'Temizle', // Temizle butonu yazısı
            customOkBTN: 'Tamam', // Tamam butonu yazısı
            customCancelBTN: 'İptal Et', // İptal Et butonu yazısı
            customWeekDays: [
                'Pazartesi',
                'Salı',
                'Çarşamba',
                'Perşembe',
                'Cuma',
                'Ctesi',
                'Pazar'
            ], // Türkçe gün isimleri
            customMonths: [
                'Ocak',
                'Şubat',
                'Mart',
                'Nisan',
                'Mayıs',
                'Haziran',
                'Temmuz',
                'Ağustos',
                'Eylül',
                'Ekim',
                'Kasım',
                'Aralık'
            ] // Türkçe ay isimleri
        });
    </script>
