@model TravelTripProje.Models.Entity.BlogYorum
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="~/Template/blog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Template/blog/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">

            <!---start-top-nav---->

            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                @foreach (var item in Model.deger1)
                {
                    <div class="single-grid">
                        <a href="/Blog/BlogDetay/@item.ID"><img src="@item.BlogImage" alt="" style="margin-bottom:20px; width:730px;height:350px;" /></a>
                        <b><a href="/Blog/BlogDetay/@item.ID">@item.Baslik</a></b>
                        <p>
                            @item.Aciklama.Substring(0, 300)
                        <p><a href="/Blog/BlogDetay/@item.ID"><span class="read">Devamini Oku >></span></a></p>

                        </p>
                    </div>
                    <br /><br />
                }
            </div>

            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3>Son Yazilar</h3>
                    @foreach (var i in Model.deger3)
                    {
                        <ul>
                            <li><a href="/Blog/BlogDetay/@i.ID#">@i.Baslik</a></li>
                        </ul>
                    }
                </div>
                @*<div class="comments">
            <h3>Son Yorumlar</h3>
                <ul>
                    <li><a href="#">Amanda </a> on <a href="#">Hello Word</a></li>
                </ul>


        </div>*@

                @Html.Action("Partial1", "Blog")
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>





